@import "../Variables.scss";

header {
    padding:20px 0 0;
    .container {
    .logo {
        float:left;
        img {
            width:100%;
        }
    }
    .burguer {
        a {
            display:none;
        }
    }
    nav {
        float:right;
        ul {
            float: right;
            li {
                float:left;
                list-style-type: none;
                text-transform: uppercase;
                margin: 0 20px;
                letter-spacing: 2px;
                font-size: 14px;
                &:first-child {
                    margin-left:0;
                }
                &:last-child {
                    margin-right:0;
                }
                a {
                    color: #ffffff;
                    display: inline-block;
                    padding: 10px;
                    font-weight: 600;

                    span {
                        text-decoration: line-through;
                    }
                }
                ul {
                    padding-left: 0px;
                    display:none;
                    position:absolute;
                    z-index: 1;
                    margin: 0;
                    li {
                        text-transform:none;
                        font-size:12px;
                        a {
                            padding:5px;
                        }
                       
                    }
                }
                &:hover {
                  a {
                      color:#e81c2a;
                      text-decoration: none;
                      border-radius:5px 5px 0 0;
                      transition: width .5s ease-in-out;
                  }
                    ul {
                        display:block;
                        li {
                            padding:3px;
                            a {
                                color:#ffffff;
                            }
                            &:hover {
                                background-color:#e81c2a;    
                                transition: 0.5s;
                                border-radius:3px;
                                a {
                                    color:#ffffff;
                                }
                            }
                        }

                    }
                }
                &.hover {
                    display:none;
                }
            }
        }
    }
}
}

@media only screen and (max-width: 768px) {
    header {
        .container {
            .logo {
                a {
                    width: 200px;
                    display: inline-block;
                }
            }
            .burguer {
                a {
                    display: block;
                    float: right;
                    margin: 10px;
                i {
                    color:$white;
                    font-size: 26px;
                }
                &:hover {
                    i {
                        color:$red;
                    }
                }
            }
            }
            nav {
                display:none;
                &.desplegado {
                    display:block;
                }
            }
        }
    }
}