@import "../Variables.scss";

.about {
    img {
    width:100%;
    border: 2px solid $white;
    }
    .texto {
        padding-top: 10px;
    }
}


@media only screen and (max-width: 992px) { 
    .about {
        .texto{
            margin-top:30px;
        }
    }
}