@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900&display=swap');

.main {
    display:inline-block;
    img {
        margin:0 auto;
        width: 100%;
    }

    .hero-text {
        background-image:url('../images/back-square.png');
        background-repeat:repeat;
        position: absolute;
        padding: 10px 30px;
        width: 25%;
        height: 190px;
        top: 390px;
        p {
            font-size:16px;
        }
        
    }

    h1 {
        color: #cccccc;
        font-size: 34px;    
        text-shadow: 1px 1px 1px #000000;
    }
}