img {
    width:800px;
    margin:0 auto;
}

.hero-text {
    position: absolute;
    margin: 290px 200px 0;
    
}

h1 {
    color: #cccccc;
    font-size: 34px;    
    text-shadow: 1px 1px 1px #000000;
}